@-webkit-keyframes loader {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes loader {
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader {
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  width: 35px;
  height: 35px;
  border: 6px solid #000;
  border-left-color: #333;
  border-bottom-color: #555;
  border-right-color: transparent;
  border-radius: 100%;
  -webkit-animation: loader 0.5s infinite linear;
  -moz-animation: loader 0.5s infinite linear;
  animation: loader 0.5s infinite linear;

}

.card-body {
  height: 250px;
}

.companiesList {
  .card-body {
    overflow-y: scroll;

  }

  .company-list {
    div {
      border-top: solid black 1px;
      border-left: solid black 1px;
      border-right: solid black 1px;
      padding: 10px 7px;
      cursor: pointer;
    }

    div:last-child {
      border-bottom: solid black 1px;
    }
  }
}

.total {
  .card-body {
    display: flex;
    justify-content: center;
    align-items: center;

    .totalCompanies {
      display: flex;
      justify-content: center;
      align-items: center;
      border: solid #7F7F80 1px;
      height: 200px;
      width: 200px;
      border-radius: 100%;
      font-size: 35px;
      font-weight: 500;
    }

  }
}

.partners {
  display: none;

  .card-body {
    overflow: auto;
    white-space: nowrap;
  }
}

.currentCompany {
  background: #778899;
}

.allPartners {
  position: relative;

  .allInformation {
    display: inline-block;
    margin: 0;
  }
  .partnerName {
    border: solid black 1px;
    transform: rotate(270deg);
    width: 140px;
    font-size: 20px;
    padding: 15px 0;
    text-align: center;
    position: absolute;
    bottom: 42px;
  }

  .partner {
    border: solid black 1px;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
  }

}

.news {
  img {
    height: 150px;
  }
}




